// Here you can add other styles
.loading-indicator {
  text-align: center;
}
.button-loading-indicator {
  display: inline-block;
  padding: 0 0 0 9px;
  img {
    width:20px;
  }
}
.help-block {
  &.error {
    font-size:10px;
    color:#f86c6b;
    padding: 0 3px
  }
}
